.header__block {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
   
}

@media screen and (max-width: 560px) {
    .header__block {
flex-direction: column;
    }
  }
  