.header__info_type_login {
    padding: 0 24px 0 0;
    margin: 0;
    background: #000000;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.header__info_type_login:hover {
opacity: 0.6;
}