.header__info_type_logout {
    padding: 0;
    margin: 0;
    background: #000000;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
}

.header__info_type_logout:hover {
    opacity: 0.6;
}

